# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Companion
local-companion/__pycache__
local-companion/venv
local-companion/.venv
*.pyc

# Chrome Extension builds
browser-extension/*.zip

# Desktop & Native builds
*.app
*.dmg
desktop/DomoNote
AppIcon.iconset/
*.pdf
**/bin/
**/obj/
*.user
**/bundle.zip
desktop/bundle/
public/downloads/*.exe
public/downloads/*.zip
public/downloads/*.dmg
public/downloads/*.AppImage
public/downloads/*.deb
dist/downloads/
